/* color scheme */
:root {
    --dblue:rgb(11 25 98);
    --lblue: rgb(146, 170, 221);
    --lyellow: rgb(249, 249, 157);
    --lgreen: rgb(85, 149, 85);
    --white:white;
  }
  
  
  /* Global styles ============= */
  html,
  body {
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #EDF4F5;
  }
  
  a {
    color: var(--lgreen);
    transition: all 0.35s;
  }
  
  a:hover,
  a:focus {
    color: var(--lblue);
  }
  
  hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: var(--lgreen);
  }
  
  hr.light {
    border-color: white;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    letter-spacing: 1px;
    color: var(--lgreen);
    text-align: center;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--lgreen);
    text-align: center;
  }
  
  section {
    padding: 20px 0;
  }
  
  section h2 {
    font-size: 30px;
  }
  
  /* Navigation bar styles ============= */

  #mainNav {
    border-color: rgba(34, 34, 34, 0.05);
    background-color: var(--dblue);
    transition: all 0.35s;
    font-family:'Times New Roman', Times, serif;
    font-weight: 200;
    letter-spacing: 1px;
  }
  
  #mainNav .navbar-brand {
    color: var(--lyellow);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    letter-spacing: 1px;
  }
  
  #mainNav .navbar-brand:hover,
  #mainNav .navbar-brand:focus {
    color: var(--lgreen);
  }
  
  #mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #222222;
  }
  
  #mainNav .navbar-nav > li > a {
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  #mainNav .navbar-nav > li > a.active {
    color: var(--lyellow) !important;
    background-color: transparent;
  }
  
  #mainNav .navbar-nav > li > a.active:hover {
    background-color: transparent;
  }
  
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: var(--lblue);
  }
  
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: var(--lyellow);
  }
  
  /* Hero section ============= */
  
  /* Jumbotron  */

  .Background {
    background-image: url(../images/hexagon.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items:center;
    justify-content: center;
  
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: var(--lyellow);
    background-color:var(--dblue);
    text-align: center;
    opacity: .75;
  }
  

  
 /* Contact Section */
  
  
  .contact-section {
    padding-top: 5rem;
  }
  .contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid var(--lgreen);
  }
  .contact-section .card h4 {
    font-size: 0.8rem;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  .contact-section .card hr {
    border-color: var(--lgreen);
    border-width: 0.25rem;
    width: 3rem;
  }
  .contact-section .social {
    margin-top: 5rem;
  }
  .contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: var(--dblue);
    border-radius: 100%;
    line-height: 3rem;
    color: var(--lblue);
  }
  .contact-section .social a:hover {
    color: var(--white);
  }
  .contact-section .social a:active {
    color: #fff;
  }
  
  .bg-dblue {
    background-color: var(--dblue) !important;
  }

  /* Footer section */
  
  footer {
    padding: 25px 0;
    text-align: center;
    color: var(--lblue);
    background-color: var(--dblue);
  }
  
  footer p {
    font-size: 12px;
    margin: 0;
  }
  
  footer ul {
    margin-bottom: 0;
  }
  
  footer ul li a {
    font-size: 12px;
    color: var(--lblue);
  }
  
  footer ul li a:hover,
  footer ul li a:focus,
  footer ul li a:active,
  footer ul li a.active {
    text-decoration: none;
  }
  
  .bg-primary {
    background: var(--lyellow);
    background: linear-gradient(var(--white), var(--lyellow));
  }
  
  .text-primary {
    color: var(--lyellow);
  }
  
  .no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
  
  
  